body,
html {
  margin: 0;
  padding: 0;
  border: none;

  &:has(.flow-wrap) {
    overflow: hidden;
  }
}

.line {
  min-height: 80px;
  position: relative;

  &-top {
    min-height: 30px;
  }

  &-bottom {
    flex: 1;
  }

  &::before {
    content: "";
    background: #ccd4e0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    transform: translateX(-1px);
    z-index: 1;
  }
}

.condition {
  height: 100%;

  &>.line {
    height: 25px;
  }


}

.node-menu {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.add-icon {
  height: 1em;
  width: 1em;
  line-height: 1em;
  fill: currentColor;
}

.flow-icon {
  font-size: 20px;
  height: 1em;
  width: 1em;
  line-height: 1em;

  svg {
    height: 1em;
    width: 1em;
  }
}


.mask {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9991;
}


.message-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9992;
}

.del-node-icon {
  position: absolute;
  top: -10px;
  right: -25px;
  z-index: 991;
  width: 18px;
  height: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 99px;
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    transform: scale(0.6);
    display: block;
  }
}

.del-node {
  opacity: 0;
}

.condition {
  .condition-group {
    flex: 1;
    display: flex;
    flex-direction: column;

    .node {
      flex: 1
    }
  }

  .node-group {
    flex: 1
  }

  .node-content+.line {
    flex: 1
  }
}



.node-wrap {
  display: flex;
  flex-direction: column;
}